body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 70px;
}

.sel-clas {
    display: flex;
    justify-content: space-around;
}

.lab-class {
    display: flex;
    justify-content: space-around;
}

form {
    max-width: 900px;
    margin: 0 auto;
    border: 3px solid #ddd;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 30px;
}

label {
    /* display: block; */
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

select,
textarea {
    width: 95%;
    border-radius: 3px;
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 20px;
    margin-bottom: 20px;
}

button[type="button"] {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 0 auto;
    width: 90%;
}

button[type="button"]:hover {
    background-color: #3367d6;
}

#translate-btn:active {
    transform: translateY(2px);
}

#target-text {
    background-color: #fff;
    color: #444;
    border: 1px solid #ccc;
}
